---
---
<footer class="store-footer">
	<div class="contact">
		<address>
			<i></i>
			<p>
				Av. Paulista, 2355<br>
				Bela Vista, São Paulo - SP<br>
				01311-300
			</p>
		</address>
		<div class="social">
			<a href="#" title="Facebook"><i></i></a>
			<a href="#" title="Instagram"><i></i></a>
			<a href="#" title="TikTok"><i></i></a>
			<a href="#" title="YouTube"><i></i></a>
		</div>
		<address>
			<span>
				<strong><i></i>(00) 99009 0990</strong>
				<a href="#" title="E-mail"><i></i></a>
				<a href="#" title="WhatsApp"><i></i></a>
			</span>
			<p>
				Atendimento de seg. a sex. das 9h às 18h
			</p>
		</address>
	</div>
	<div>
		<span>
			<strong>Thrift Store</strong>
<!-- 			<figure class="logo">
				<img src="/template-ecommerce-vega/img/logo.png" alt="thrift">
			</figure> -->
			<small>81.040.406/0001-08</small>
		</span>
		<!-- Stamps -->
		<span class="stamps">
			<a href="#" title="Reclame Aqui"></a>
		</span>
	</div>
</footer>