---
---

<header class="store-header">

	<!-- status: title-mode | logo-mode -->
	<div data-status="title-mode">
		<button class="menu-button" title="Menu"><i></i></button>
		<h1>Nome da loja</h1>
		<figure class="logo">
			<a href="#" title="Nome da loja">
				<img src="" alt="Nome da loja">
			</a>
		</figure>
	</div>

	<div>
		<button class="search-button" title="Pesquisar"><i></i></button>
		<!-- <button class="lang-button">3</button> -->
		<a class="cart-button" href="#" title="Cesta de compras"><span>0</span><i></i></a>
	</div>

</header>
