---
const { phrase1, phrase2, prhase3 } = Astro.props;
---
<div class="placard">
	<div>
		<button class="prev" title="Anterior"><i></i></button>
		<ul>
			<li set:html={phrase1}></li>
		</ul>
		<button class="next" title="Próximo"><i></i></button>
	</div>
</div>